@import url('https://fonts.googleapis.com/css2?family=Quicksand&display=swap');

body {
	background-color: gray;
	margin: 0;
}

/* *Footer*

footer {
	display: flex;
	position: absolute;
}

.fb_logo {
	position: absolute;
	width: 1px;
	height: 5px;
	left: 676px;
	top: 4691px;
} */
.container {
	background-color: #fff;
	width: 80%;
	height: 100%;
	margin: 10px auto;
	padding: 5px;
}

/*All content for card1*/
.card1 {
	display: flex;
}

.sub_card {
	background-color: #fff;
	width: 55%;
	height: 350px;
	margin: 5px;
	margin-top: 0;
}

.name {
	position: absolute;
	width: 300px;
	height: 180px;
	left: 135px;
	top: 20px;
	padding: 0 100px;
	font-family: Quicksand;
	font-style: normal;
	font-weight: bold;
	font-size: 70px;
	line-height: 60px;
	/* or 112% */
	color: #333646;
}

.rec_card {
	background-color: #319873;
	position: absolute;
	border-radius: 50px;
	width: 25px;
	height: 1px;
	left: 235px;
	top: 230px;
	border: 2px solid #319873;
}

.su_card {
	background-color: #fff;
	width: 45%;
	height: 350px;
	margin: 5px;
	margin-top: 0;
}

h6 {
	position: absolute;
	width: 126px;
	height: 26px;
	top: 10px;
	padding: 0 100px;
	font-family: Quicksand;
	font-style: normal;
	font-weight: 500;
	font-size: 18px;
	line-height: 140.62%;
	/* identical to box height, or 25px */
	letter-spacing: 0.1em;
	color: #757783;
}

.su_content {
	position: absolute;
	width: 275px;
	height: 127px;
	top: 70px;
	padding: 0 100px;
	font-family: Quicksand;
	font-style: normal;
	font-weight: bold;
	font-size: 23px;
	line-height: 120.62%;
	/* or 42px */
	color: #333646;
}

.su_text {
	position: absolute;
	width: 280px;
	height: 90px;
	top: 190px;
	padding: 0 100px;
	font-family: Quicksand;
	font-style: normal;
	font-weight: 500;
	font-size: 14px;
	line-height: 20px;
	/* or 167% */
	color: #757783;
}

.story {
	position: absolute;
	width: 75px;
	height: 25px;
	top: 280px;
	padding: 0 100px;
	font-family: Quicksand;
	font-style: normal;
	font-weight: bold;
	font-size: 12px;
	line-height: 25px;
	/* identical to box height */

	color: #319873;
}

/*content for card 2 */
.card2 {
	display: flex;
	background-color: #e5e5e5;
	height: 550px;
}

.contact_card {
	width: 50%;
	height: 550px;
	margin: 5px;
}

.line {
	background-color: #319873;
	position: absolute;
	border-radius: 50px;
	width: 10px;
	height: 0px;
	left: 215px;
	top: 422px;
	border: 1px solid #757783;
}
.contact {
	position: absolute;
	width: 80px;
	height: 26px;
	left: calc(50% - 80px / 2 - 510px);
	top: 400px;

	font-family: Quicksand;
	font-style: normal;
	font-weight: 500;
	font-size: 14px;
	line-height: 140.62%;
	/* identical to box height, or 25px */

	letter-spacing: 0.1em;

	color: #757783;
}

.query {
	position: absolute;
	width: 272px;
	height: 85px;
	top: 430px;
	padding: 0 50px;
	font-family: Quicksand;
	font-style: normal;
	font-weight: bold;
	font-size: 30px;
	line-height: 120.62%;
	/* or 42px */
	color: #333646;
}

.contact_text {
	position: absolute;
	width: 394px;
	height: 60px;
	top: 560px;
	padding: 0 50px;
	font-family: Quicksand;
	font-style: normal;
	font-weight: 500;
	font-size: 18px;
	line-height: 30px;
	/* or 167% */
	color: #757783;
}

.contact_email {
	position: absolute;
	width: 206px;
	height: 25px;
	top: 680px;
	padding: 0 50px;
	font-family: Quicksand;
	font-style: normal;
	font-weight: bold;
	font-size: 20px;
	line-height: 25px;
	/* identical to box height */
	color: #319873;
}

.contact2_card {
	width: 50%;
	height: 550px;
	margin: 5px;
}

.contact2_text {
	position: absolute;
	width: 497px;
	height: 127px;
	top: 370px;
	padding: 0 45px;
	font-family: Quicksand;
	font-style: normal;
	font-weight: bold;
	font-size: 30px;
	line-height: 140.62%;
	/* or 42px */
	color: #333646;
}

.contact2_subtext {
	position: absolute;
	width: 394px;
	height: 90px;
	top: 530px;
	padding: 0 45px;
	font-family: Quicksand;
	font-style: normal;
	font-weight: 500;
	font-size: 18px;
	line-height: 30px;
	/* or 167% */

	color: #757783;
}
.num {
	position: absolute;
	width: 63px;
	height: 88px;
	top: 600px;
	padding: 0 50px;
	font-family: Quicksand;
	font-style: normal;
	font-weight: 500;
	font-size: 70px;
	line-height: 87px;
	/* identical to box height */
	color: #319873;
}
.exp {
	position: absolute;
	width: 99px;
	height: 51px;
	top: 670px;
	padding: 0 120px;
	font-family: Quicksand;
	font-style: normal;
	font-weight: bold;
	font-size: 18px;
	line-height: 140.62%;
	/* or 25px */
	color: #333646;
}

.num1 {
	position: absolute;
	width: 41px;
	height: 88px;
	top: 600px;
	padding: 0;
	left: calc(50% - 41px / 2 + 270.5px);
	font-family: Quicksand;
	font-style: normal;
	font-weight: 500;
	font-size: 70px;
	line-height: 87px;
	/* identical to box height */

	color: #319873;
}

.int {
	position: absolute;
	width: 197px;
	height: 51px;
	left: calc(50% - 197px / 2 + 400.5px);
	top: 672px;
	font-family: Quicksand;
	font-style: normal;
	font-weight: bold;
	font-size: 18px;
	line-height: 140.62%;
	/* or 25px */
	color: #333646;
}

.card3 {
	display: flex;
	align-items: center;
	justify-content: center;
	margin: auto;
	height: 15em;
}

.box_card {
	position: absolute;
	width: 330px;
	height: 330px;
	left: 143px;
	top: 780px;
	background: #319873;
	margin-left: 9em;
}

.box2_card {
	position: absolute;
	width: 330px;
	height: 330px;
	left: 535px;
	top: 780px;
	background: #424657;
	margin-left: 6em;
}

.box3_card {
	position: absolute;
	width: 330px;
	height: 330px;
	left: 927px;
	top: 780px;
	margin-left: 3em;
	background: #424657;
}

.box1_content {
	position: absolute;
	top: 35%;
	right: 12%;
	left: 10%;
	bottom: 25%;
	font-family: Quicksand;
	font-style: normal;
	font-weight: bold;
	font-size: 28px;
	line-height: 50px;
	/* or 179% */
	display: flex;
	align-items: center;
	text-align: center;

	color: #ffffff;
}

.box2_content {
	position: absolute;
	top: 35%;
	right: 12%;
	left: 12%;
	font-family: Quicksand;
	font-style: normal;
	font-weight: bold;
	font-size: 28px;
	line-height: 50px;
	/* or 179% */
	display: flex;
	align-items: center;
	text-align: center;
	color: #ffffff;
}

.box3_content {
	position: absolute;
	top: 28%;
	left: 10%;
	right: 10%;
	font-family: Quicksand;
	font-style: normal;
	font-weight: bold;
	font-size: 25px;
	line-height: 50px;
	/* or 179% */

	display: flex;
	align-items: center;
	text-align: center;

	color: #ffffff;
}

.card_img {
	margin: auto;
	background-color: cornflowerblue;
	width: 75%;
	height: 50px;
	align-items: center;
	justify-content: center;
}

/*CONTENT FOR CARD 4*/

.card4 {
	display: flex;
	height: 65em;
	margin: 5px auto;
}
.card4_text {
	background-color: #fff;
	height: 64em;
	width: 48%;
	margin: 5px auto;
}

.line2 {
	background-color: #319873;
	position: absolute;
	border-radius: 50px;
	width: 10px;
	height: 0px;
	left: 215px;
	top: 1240px;
	border: 1px solid #757783;
}

.port {
	position: absolute;
	width: 90px;
	height: 26px;
	left: calc(50% - 90px / 2 - 510px);
	top: 1210px;
	font-family: Quicksand;
	font-style: normal;
	font-weight: bold;
	font-size: 18px;
	line-height: 140.62%;
	/* identical to box height, or 25px */
	letter-spacing: 0.1em;
	color: #757783;
}
.work {
	position: absolute;
	width: 283px;
	height: 85px;
	left: calc(50% - 283px / 2 - 443.5px);
	top: 1230px;

	font-family: Quicksand;
	font-style: normal;
	font-weight: bold;
	font-size: 30px;
	line-height: 140.62%;
	/* or 42px */

	color: #333646;
}

.amet {
	position: absolute;
	width: 394px;
	height: 60px;
	left: calc(50% - 394px / 2 - 388px);
	top: 1360px;
	font-family: Quicksand;
	font-style: normal;
	font-weight: 500;
	font-size: 18px;
	line-height: 30px;
	/* or 167% */

	color: #757783;
}

.explore {
	position: absolute;
	width: 126px;
	height: 25px;
	left: calc(50% - 126px / 2 - 522px);
	top: 1500px;
	font-family: Quicksand;
	font-style: normal;
	font-weight: bold;
	font-size: 20px;
	line-height: 25px;
	/* identical to box height */
	color: #319873;
}

.content_img {
	position: absolute;
	width: 350px;
	height: 450px;
	left: 255px;
	top: 1600px;
}

.card4_img {
	background-color: #fff;
	height: 64em;
	width: 48%;
	margin: 5px auto;
}
.img_card4 {
	position: absolute;
	left: 947px;
	top: 1250px;
}

.img1_card4 {
	position: absolute;
	width: 350px;
	height: 450px;
	left: 945px;
	top: 1750px;
}

.card5 {
	background-color: #e5e5e5;
	display: flex;
	height: 50em;
	align-items: center;
	justify-content: center;
}
.card5_img {
	background-color: #e5e5e5;
	height: 49em;
	width: 49%;
	margin: auto 5px;
}
.line3 {
	position: absolute;
	width: 10px;
	height: 0px;
	left: 235px;
	top: 2300px;
	border: 1px solid #757783;
}

.blog {
	position: absolute;
	width: 46px;
	height: 26px;
	left: calc(50% - 46px / 2 - 515px);
	top: 2290px;
	font-family: Quicksand;
	font-style: normal;
	font-weight: 500;
	font-size: 18px;
	line-height: 140.62%;
	/* identical to box height, or 25px */
	letter-spacing: 0.1em;
	color: #757783;
}

.new {
	position: absolute;
	width: 267px;
	height: 85px;
	left: calc(50% - 267px / 2 - 430.5px);
	top: 2320px;

	font-family: Quicksand;
	font-style: normal;
	font-weight: bold;
	font-size: 30px;
	line-height: 140.62%;
	/* or 42px */

	color: #333646;
}

.img_card5 {
	position: absolute;
	left: 235px;
	top: 2517px;
}

.card5_text {
	background-color: #e5e5e5;
	height: 49em;
	width: 49%;
	margin: auto 5px;
}

.date1 {
	position: absolute;
	width: 108px;
	height: 23px;
	left: calc(50% - 108px / 2 + 98px);
	top: 2310px;
	font-family: Quicksand;
	font-style: normal;
	font-weight: 500;
	font-size: 18px;
	line-height: 22px;
	/* identical to box height */
	color: #757783;
}

.txt1 {
	position: absolute;
	width: 320px;
	height: 25px;
	left: calc(50% - 320px / 2 + 352px);
	top: 2306px;
	font-family: Quicksand;
	font-style: normal;
	font-weight: bold;
	font-size: 20px;
	line-height: 25px;
	/* identical to box height */
	color: #333646;
}

.blog1 {
	position: absolute;
	width: 108px;
	height: 23px;
	left: calc(50% - 108px / 2 + 98px);
	top: 2400px;
	font-family: Quicksand;
	font-style: normal;
	font-weight: 500;
	font-size: 18px;
	line-height: 22px;
	/* identical to box height */
	color: #757783;
}

.txt2 {
	position: absolute;
	width: 320px;
	height: 25px;
	left: calc(50% - 320px / 2 + 352px);
	top: 2399px;

	font-family: Quicksand;
	font-style: normal;
	font-weight: bold;
	font-size: 20px;
	line-height: 25px;
	/* identical to box height */

	color: #333646;
}

.blog2 {
	position: absolute;
	width: 108px;
	height: 23px;
	left: calc(50% - 108px / 2 + 98px);
	top: 2475px;
	font-family: Quicksand;
	font-style: normal;
	font-weight: 500;
	font-size: 18px;
	line-height: 22px;
	/* identical to box height */
	color: #757783;
}

.txt3 {
	position: absolute;
	width: 320px;
	height: 25px;
	left: calc(50% - 320px / 2 + 352px);
	top: 2475px;
	font-family: Quicksand;
	font-style: normal;
	font-weight: bold;
	font-size: 20px;
	line-height: 25px;
	/* identical to box height */
	color: #333646;
}

.card5_foc {
	position: absolute;
	width: 533px;
	height: 169px;
	left: calc(50% - 533px / 2 + 310.5px);
	top: 2700px;
	font-family: Quicksand;
	font-style: normal;
	font-weight: bold;
	font-size: 30px;
	line-height: 140.62%;
	/* or 42px */
	color: #333646;
}

.autor {
	position: absolute;
	width: 147px;
	height: 29px;
	left: calc(50% - 147px / 2 + 117.5px);
	top: 2890px;
	font-family: Quicksand;
	font-style: normal;
	font-weight: bold;
	font-size: 20px;
	line-height: 140.62%;
	/* identical to box height, or 28px */

	color: #333646;
}
.behance {
	position: absolute;
	width: 87px;
	height: 26px;
	left: calc(50% - 87px / 2 + 87.5px);
	top: 2915px;

	font-family: Quicksand;
	font-style: normal;
	font-weight: 500;
	font-size: 18px;
	line-height: 140.62%;
	/* identical to box height, or 25px */
	letter-spacing: 0.1em;

	color: #757783;
}

.card5_line {
	position: absolute;
	width: 60px;
	height: 0px;
	left: 835px;
	top: 2999px;
	border: 8px solid #319873;
}

.card5_line2 {
	position: absolute;
	width: 60px;
	height: 0px;
	left: 944px;
	top: 2999px;
	border: 8px solid #757783;
}

.card5_line3 {
	position: absolute;
	width: 60px;
	height: 0px;
	left: 1055px;
	top: 2999px;
	border: 8px solid #757783;
}

.card5_line4 {
	position: absolute;
	width: 60px;
	height: 0px;
	left: 1160px;
	top: 2999px;

	border: 8px solid #757783;
}
