@import url('https://fonts.googleapis.com/css2?family=Quicksand&display=swap');

/* 
*{
	border: 1px solid red;
} */
body {
	background-color: gray;
	margin: 0;
}

/* *Footer*

footer {
	display: flex;
	position: absolute;
}

.fb_logo {
	position: absolute;
	width: 1px;
	height: 5px;
	left: 676px;
	top: 4691px;
} */
.container {
	background-color: #fff;
	width: 80%;
	height: 100%;
	margin: 10px auto;
	padding: 5px;
}

/*All content for card1*/
.card1 {
	display: flex;
	background-color: #fff;
	height: 400px;
    width: 100%;
}

.card1_left {
	background-color: #fff;
	width: 55%;
	height: 390px;
	margin: 5px 5px;
}

.card1_logo {
	width: 2.5em;
	height: 2.5em;
	margin-top: 2em;
	margin-left: 5em;
}

/* .profile{

}

.profile_img {
	position: absolute;
	margin-left: 4em;
	height: 60%;
	width: 30%;
} */


.name {
	width: 20%;
	position: relative;
	padding-left: 35px;
	font-family: Quicksand;
	font-style: normal;
	font-weight: bold;
	font-size: 70px;
	/* or 112% */
	color: #333646;
}

.rec_card {
	border-radius: 5px;
	width: 28px;
	height: 5px;
	margin-left: 2.5em;
	background-color: #319873;
}

.icons{
	display: flex;
	margin: 0 2.5em;
}
.fab {
	margin: .3em;
	width: 2em;
	height: 2em;
	margin-top: 6em;	
}

.card1_right {
	background-color: #fff;
	width: 55%;
	height: 390px;
	margin: 5px 5px;;
}

h6 {
	padding: 0 1em;
	margin-top: 1em;
	margin-bottom: 0;
	font-family: Quicksand;
	font-style: normal;
	font-size: 18px;
	color: #757783;
}
.right_content{
	width: 20em;
	height: 15em;
	margin: 0 1em;
	color: #333646;
}

.photo {
	font-family: Quicksand;
	font-style: normal;
	font-weight: bold;
	font-size: 23px;
} 

.text {
	font-family: Quicksand;
	font-style: normal;
	font-size: 14px;
	color: #757783;
} 

.story {
	margin: 7em 0;
	text-decoration: none;
	font-family: Quicksand;
	font-weight: bold;
	font-size: 12px;
	color: #319873;
}


.card2{
	display: flex;
	background-color: #fff;
	height: 400px;
    width: 100%;;
}
.card2_left{
	background-color: #E5E5E5;
	width: 50%;
	height: 25em;
	
}


.card2_line{
	
	margin-left: 2em;
	margin-top: 2em;
	
}

.contact{
	margin-top: 1em;
}

.left_content{
	font-family: Quicksand;
	margin: 0 1.3em;
	width: 20em;
	height: 5em;	
}

.query{
	font-size: 2.2em;
	
}

.left_text{
	font-family: Quicksand;
	color:  #757783;;
}

.left_email{
	font-family: Quicksand;
	margin-top: 50em;
	text-decoration: none;
	color: #319873;
	font-weight: bold;
	font-size: 1em;
}
.card2_right{
	background-color: #E5E5E5;
	width: 50%;
	height: 25em;
	
}

.right_text{
	font-family: Quicksand;
	margin: 2em;
	width: 25em;
	height: 15em;
}

.lang{
	font-weight: bold;
	font-size: 1.5em;
}

.amet{
	color: #757783;
}
.date{
	display: inline-flex;
	margin: 1em 0;
	font-family: Quicksand;
	width: 35em;
	height: 15em;
}

.card2_date{
	font-weight: bold;
	font-size: 5em;
	color: #319873;
	margin: .3em 0;

}

.year{
	font-family: Quicksand;
	margin: 2.2em 1em;
	font-size: 1.3em;
	font-weight: bold;

}

.int{
	font-family: Quicksand;
	font-size: 1.4em;
	font-weight: bold;
	margin: 2em 1em;
}
/*============================================================
MEDIA QUERIES
==============================================================
*/

@media screen and (max-width: 375px) and (max-width: 425px) {
	/* .container{
			background-color: #000000;
			width: 60%;
			height: 50%;
	} */

	.card1{
		display: flex;
	background-color:#fff;
	height: 10.60em;
    width: 100%;
	}

	.card1_left {
	background-color: #fff;
	width: 45em;
	height: 10em;
	align-items: center;
	justify-content: center;
}

.card1_logo {
	align-items: center;
	justify-content: center;
	width: 2.5em;
	height: 2.5em;
	margin: .5em;
}

.name {
	width: 5%;
	padding-left: .2em;
	font-family: Quicksand;
	font-style: normal;
	font-size: 20px;
	color: #333646;
}

.rec_card {
	border-radius: 3px;
	width: 18px;
	height: 2px;
	margin-left: .7em;
	background-color: #319873;
}

.icons{
	display: flex;
	margin: 0 .6em;
}
.fab {
	margin: .3em;
	width: 1em;
	height: 1em;
	
}

/*==================================================
This responsiveness if for the right side of card 1
====================================================
*/

.card1_right {
	background-color: #fff;
	width: 49%;
	height: 10em;
} 

h6 {
	
	margin: .5em .09em;
	margin-bottom: 0;
	font-family: Quicksand;
	font-style: normal;
	font-size: 13px;
	color: #757783;
}
.right_content{
	width: 5em;
	height: 6em;
	margin: 0 .5em;
	color: #333646;
}

.photo {
	font-family: Quicksand;
	font-style: normal;
	font-weight: bold;
	font-size: 8px;
} 

.text {
	font-family: Quicksand;
	font-size: 0.2em;
	color: #757783;
} 

.story {
	margin: 1em 0;
	text-decoration: none;
	font-family: Quicksand;
	font-weight: bold;
	font-size: 12px;
	color: #319873;
}


.card2{
	display: flex;
	background-color: #ffffff;
	height: 10.5em;
    width: 100%;;
}
.card2_left{
	background-color: #E5E5E5;
	width: 50%;
	height: 10em;
}

.card2_line{
	margin-left: 1em;
	margin-top: 1em;
	
}

.contact{
	margin-top: .5em;
}

.left_content{
	font-family: Quicksand;
	width: 6em;
	height: 3em;	
}

.query{
	font-size: .5em;
	
}

.left_text{
	font-family: Quicksand;
	color:  #757783;
	font-size: .5em;
}

.left_email{
	font-family: Quicksand;
	margin-top: 50em;
	text-decoration: none;
	color: #319873;
	font-weight: bold;
	font-size: .4em;
}
.card2_right{
	background-color: #E5E5E5;
	width: 49%;
	height: 10em;
	margin-left: .009em;
}

.right_text{
	font-family: Quicksand;
	width: 6em;
	height: 4em;
	margin: 0 .5em;
}

.lang{
	font-weight: bold;
	font-size: .6em;
}

.amet{
	color: #757783;
	font-size: 6px;
}
.date{
	display: inline-flex;
	margin: 1em 0;
	font-family: Quicksand;

}

.card2_date{
	font-weight: bold;
	font-size: .7em;
	color: #319873;
	margin: .3em 0;
	width: 10px;
	

}

.year{
	font-family: Quicksand;
	margin: 2.2em 1em;
	font-size: .1em;
	font-weight: bold;
	width: 30px;

}

.int{
	font-family: Quicksand;
	font-size: 4.51238876px;
	font-weight: bold;
	margin: .4em .5em;
	width: .05px;
}

}

/*
$Desktop: 1200px
$laptop: 1024px
$Tablet: 764px
$phone: 480px